streamlit
pandas
spacy==3.5.4
thinc==8.1.0
numpy==1.23.5
PyPDF2
joblib
matplotlib
seaborn
wordcloud
python-docx
scikit-learn
flask 
spacy
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.6.0/en_core_web_sm-3.6.0.tar.gz
